In [3]:
import xclim as xc
import xarray as xr
import _pickle as cpickle
import numpy as np
import re

In [4]:
import sys
sys.path.append('../scripts/')
sys.path.append("/home/abhi/Documents/mygit/postBC_diagnostic/src/scripts")
from recipes import *

In [5]:
seasIndex = pd.Index(['Annual', 'DJF', 'MAM', 'JJAS', 'ON'], name='seas')

In [30]:
def get_thresh_val_from_str(thresh):
    p = re.compile(r'([\-]?[0-9]+[\.[0-9]?[0-9]?]?).')
    thresh_val = float(p.search(thresh).groups()[0])
    
    return(thresh_val)

In [31]:
def change_units(ds, to='mm/day', copy=True):
    if copy:
        ds = ds.copy()
        
    ds.attrs['units'] = to
    return(ds)

### Load the dataset

In [71]:
with open('../../pickles/Amravati/Amravati_ALL21_rcp45_ds.pkl', 'rb') as f:
    ds = cpickle.load(f)

### Extract out the temperature dataarray and subract 273.15

In [75]:
tas = selyear(ds.sel(variable='tasmax')['value'] - 273.15, range(2006, 2091))
tas.attrs['units'] = 'degC'

In [76]:
tas

<xarray.DataArray 'value' (model: 21, time: 31025)>
array([[29.848328, 30.06076 , 29.960999, ..., 32.606537, 32.58072 , 32.876434],
       [27.095459, 27.21576 , 27.544983, ..., 28.65979 , 29.22937 , 29.926056],
       [23.39972 , 28.66919 , 28.083252, ..., 29.707153, 29.700867, 30.04953 ],
       ...,
       [27.874695, 28.551178, 28.186554, ..., 31.342346, 31.139526, 31.207886],
       [29.284119, 29.195953, 28.045227, ..., 28.058105, 26.04306 , 27.286713],
       [25.445953, 26.126465, 27.666534, ..., 30.492615, 30.723969, 31.201477]],
      dtype=float32)
Coordinates:
  * time      (time) datetime64[ns] 2006-01-01T12:00:00 ... 2090-12-31T12:00:00
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
Attributes:
    units:    degC

### Indices calculation

#### intensity_above_thresh

In [77]:
def yearseasmean(ds):
    res = xr.concat([yearmean(ds)] + [yearmean(selseas(ds, seas)) for seas in seasIndex[1:]],
                   dim=seasIndex)
    
    return(res)

In [78]:
def intensity_above_thresh(ds, thresh='35 degC', freq='MS'):
    thresh_val = get_thresh_val_from_str(thresh)
    ds = change_units(ds)
    res = yearseasmean(xc.indices.daily_pr_intensity(ds, thresh=f'{thresh_val} mm/day', freq='MS'))
    return(res)

In [79]:
intensity_above_thresh(tas, '30 degC')

<xarray.DataArray 'value' (seas: 5, model: 21, year: 85)>
array([[[34.466597, 35.180485, ..., 37.814626, 36.514033],
        [35.190814, 34.603075, ..., 35.471004, 35.428859],
        ...,
        [35.367318, 34.449661, ..., 35.384979, 34.923479],
        [34.213549, 34.238128, ..., 35.500176, 35.711884]],

       [[31.93941 , 31.742583, ..., 34.352622, 33.680055],
        [32.239826, 31.709713, ..., 32.668328, 32.149023],
        ...,
        [32.325512, 31.188306, ..., 31.405098, 31.242154],
        [30.849564, 31.832765, ..., 31.306645, 31.453185]],

       ...,

       [[32.564561, 35.154242, ..., 36.390031, 34.215542],
        [33.990325, 33.601943, ..., 33.132887, 34.122001],
        ...,
        [34.869334, 33.484928, ..., 34.569451, 34.297726],
        [32.939984, 32.226087, ..., 35.203306, 33.678669]],

       [[34.478232, 34.286878, ..., 36.966021, 35.878744],
        [33.420214, 32.210951, ..., 35.20913 , 33.569437],
        ...,
        [32.403053, 33.813742, ..., 32.121642, 32.248408],
        [32.688438, 32.18172 , ..., 34.94125 , 35.642098]]])
Coordinates:
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
  * year      (year) int64 2006 2007 2008 2009 2010 ... 2086 2087 2088 2089 2090
  * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'

#### days_above_thresh

In [13]:
def yearsum(xr_ds):
    return xr_ds.groupby('time.year').sum('time')

In [14]:
def yearseassum(ds):
    res = xr.concat([yearsum(ds)] + [yearsum(selseas(ds, seas)) for seas in seasIndex[1:]],
                   dim=seasIndex)
    
    return(res)

In [47]:
def days_above_thresh(ds, thresh='35 degC', freq='MS'):
    thresh_val = get_thresh_val_from_str(thresh)
    ds = change_units(ds)
    res = yearseassum(xc.indices.wetdays(ds, thresh=f'{thresh_val} mm/day', freq='MS'))
    return(res)

In [80]:
days_above_thresh(tas, '40 degC')

<xarray.DataArray 'value' (seas: 5, model: 21, year: 85)>
array([[[ 50,  57, ..., 106,  82],
        [ 63,  65, ...,  76,  77],
        ...,
        [ 78,  60, ...,  66,  74],
        [ 65,  57, ...,  67,  88]],

       [[  0,   0, ...,   1,   0],
        [  0,   0, ...,   0,   0],
        ...,
        [  0,   0, ...,   0,   0],
        [  0,   0, ...,   0,   0]],

       ...,

       [[  4,  17, ...,  22,  10],
        [ 20,  11, ...,  15,  15],
        ...,
        [ 22,  15, ...,  13,  10],
        [  5,   0, ...,  17,  15]],

       [[  0,   0, ...,   0,   0],
        [  0,   0, ...,   0,   0],
        ...,
        [  0,   0, ...,   0,   0],
        [  0,   0, ...,   0,   3]]])
Coordinates:
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
  * year      (year) int64 2006 2007 2008 2009 2010 ... 2086 2087 2088 2089 2090
  * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'

#### intensity_above_pctl and days_above_pctl

Ways of calculating pctl:
    1) Whole time series
    2) Month wise
    3) Season wise
    4) Day of year wise

In [81]:
def groupby(ds, method='whole'):
    if method == 'whole':
        ds = ds
    elif method == 'month':
        ds = ds.groupby('time.month')
    elif method == 'doy':
        ds = ds.groupby('time.dayofyear')
    elif method == 'seas':
        ds = groupbyseas(ds)
        
    return(ds)

In [82]:
def calc_pctl(ds, q, method='whole'):
    ds = groupby(ds, method=method)
    res = ds.reduce(np.percentile, q=q, dim='time')
        
    return(res)

In [83]:
def intensity_and_days_above_pctl(ds_fut, ds_base, pctl=90):
    qseas = calc_pctl(ds_base, pctl, method='seas')
    qwhole = calc_pctl(ds_base, pctl, method='whole')
    
    q = xr.concat([qwhole] + [qseas.sel(seas=seas).drop('seas') for seas in seasIndex[1:]],
          dim=seasIndex)
    
    results = {'intensity': [],
               'days': []}
    
    for seas in seasIndex:
        anom  = selseas(ds_fut, seas).groupby('model') - q.sel(seas=seas)
        anom.attrs['units'] = 'mm/day'
        
        results['days'].append(xc.indices.wetdays(anom, '0 mm/day', freq='YS'))
        results['intensity'].append(ds.where(anom > 0).resample(time='YS').mean())
        
    
    for k, dsets in results.items():
        results[k] = xr.concat(dsets, dim=seasIndex)
    
    
    return(results)

In [84]:
anom = tas.groupby('model') - calc_pctl(tas, 90)

In [88]:
tas.where(anom > 0).resample(time='YS').mean()

<xarray.DataArray 'value' (time: 85)>
array([44.173443, 44.232254, 44.070698, 44.18483 , 44.26026 , 44.211082,
       44.181343, 44.260715, 44.253044, 44.39904 , 44.46798 , 44.3764  ,
       44.21947 , 44.143337, 44.424202, 44.308823, 44.47557 , 44.491795,
       44.398197, 44.441616, 44.45949 , 44.506195, 44.40761 , 44.495342,
       44.509483, 44.591423, 44.6413  , 44.611702, 44.717735, 44.57275 ,
       44.54328 , 44.70876 , 44.59604 , 44.76798 , 44.736057, 44.5898  ,
       44.639782, 44.734447, 44.82706 , 44.681175, 44.623943, 44.67661 ,
       44.73569 , 44.781822, 44.769592, 44.858025, 44.66146 , 44.819145,
       44.702374, 44.78654 , 44.876328, 44.790836, 44.88381 , 44.87156 ,
       44.92249 , 44.96757 , 45.020473, 44.985703, 45.085842, 45.103695,
       45.13336 , 45.15758 , 45.069065, 45.07003 , 44.86124 , 45.150936,
       44.99669 , 44.827038, 44.982113, 45.038483, 44.85581 , 45.018913,
       44.910904, 45.02739 , 45.022182, 45.12421 , 45.045395, 45.11993 ,
       44.93647 , 45.104237, 45.15629 , 45.25003 , 44.946823, 45.050117,
       45.15264 ], dtype=float32)
Coordinates:
  * time      (time) datetime64[ns] 2006-01-01 2007-01-01 ... 2090-01-01
    variable  <U6 'tasmax'

In [86]:
intensity_and_days_above_pctl(tas, tas, 90)

{'intensity': <xarray.DataArray 'value' (seas: 5, model: 21, time: 85)>
 array([[[0.337823, 0.696426, ..., 2.540898, 2.326361],
         [1.114039, 1.230969, ..., 1.477931, 1.858401],
         ...,
         [1.032903, 0.926061, ..., 1.893272, 1.063758],
         [0.187201, 0.587122, ..., 1.289288, 2.781661]],

        [[     nan,      nan, ..., 1.733619, 0.75071 ],
         [0.994872, 1.245564, ..., 1.632838, 2.334591],
         ...,
         [1.773292, 0.851179, ..., 1.102956,      nan],
         [0.500072, 1.556723, ...,      nan,      nan]],

        ...,

        [[     nan, 1.696701, ..., 5.018556, 1.24028 ],
         [2.741449, 1.218063, ..., 3.650331, 2.751341],
         ...,
         [2.623056, 1.201176, ..., 2.723113, 2.33786 ],
         [3.564828,      nan, ..., 3.434924, 4.531631]],

        [[0.100061, 0.544611, ..., 1.350287, 0.541793],
         [0.056628,      nan, ..., 0.811951,      nan],
         ...,
         [     nan, 0.314616, ...,      nan,      nan],
         [0.294246,      nan, ..., 1.25343 , 2.113243]]])
 Coordinates:
   * time      (time) datetime64[ns] 2006-01-01 2007-01-01 ... 2090-01-01
     variable  <U6 'tasmax'
   * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
 Attributes:
     units:    mm/day,
 'days': <xarray.DataArray 'value' (seas: 5, model: 21, time: 85)>
 array([[[ 9,  6, ..., 69, 48],
         [24, 20, ..., 43, 48],
         ...,
         [32, 12, ..., 45, 41],
         [ 5, 19, ..., 55, 56]],

        [[ 0,  0, ..., 18, 19],
         [ 3,  3, ..., 13,  7],
         ...,
         [ 9,  7, ...,  3,  0],
         [ 3,  8, ...,  0,  0]],

        ...,

        [[ 0, 13, ..., 18,  8],
         [19, 10, ..., 13, 13],
         ...,
         [21, 12, ..., 12, 10],
         [ 5,  0, ..., 25, 16]],

        [[ 1,  1, ..., 37,  9],
         [ 2,  0, ..., 15,  0],
         ...,
         [ 0,  4, ...,  0,  0],
         [ 3,  0, ..., 19, 27]]])
 Coordinates:
   * time      (time) datetime64[ns] 2006-01-01 2007-01-01 ... 2090-01-01
     variable  <U6 'tasmax'
   * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
 Attributes:
     units:    days}

In [56]:
selyear(res, range(2021, 2051)).mean(dim=['model', 'time'])

<xarray.DataArray 'value' (seas: 5)>
array([ 1.362235, -0.002647,  0.014557,  1.731596,  0.794534])
Coordinates:
    variable  <U2 'pr'
  * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'

In [114]:
(res>0).sum(dim='time')

<xarray.DataArray 'value' (model: 21)>
array([342, 342, 342, 342, 342, 342, 330, 342, 342, 342, 342, 342, 342, 342,
       342, 342, 311, 342, 342, 289, 342])
Coordinates:
    variable  <U2 'pr'
    seas      <U2 'ON'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'

####  max_n_day_pr_amt

In [104]:
def max_n_day_tas_mean(ds, ndays, **kwargs):
    ds = change_units(ds)
    results = {}
    
    for seas in seasIndex:
        results[seas] = xc.indices.max_n_day_precipitation_amount(selseas(ds, seas),
                                                                          window=ndays, **kwargs)/ndays
        
    res = xr.concat(results.values(), dim=seasIndex)
    
    return(res)

In [108]:
max_n_day_tas_mean(tas, 5)

<xarray.DataArray (seas: 5, model: 21, time: 85)>
array([[[43.588318, 44.217175, ..., 49.149834, 47.49013 ],
        [44.976337, 45.562904, ..., 46.748516, 46.615376],
        ...,
        [44.47474 , 44.100544, ..., 47.138355, 44.508247],
        [42.688557, 44.11266 , ..., 45.304035, 48.337486]],

       [[34.598164, 33.686626, ..., 39.214836, 36.45156 ],
        [35.441944, 34.12508 , ..., 37.619812, 38.08971 ],
        ...,
        [37.50062 , 35.367577, ..., 35.32083 , 33.450844],
        [34.825733, 36.215553, ..., 33.666237, 33.66618 ]],

       ...,

       [[39.66693 , 44.217175, ..., 49.149834, 42.25725 ],
        [44.94041 , 41.9988  , ..., 45.05722 , 45.39884 ],
        ...,
        [44.47474 , 42.30642 , ..., 44.103203, 43.69793 ],
        [42.119606, 37.592243, ..., 44.117973, 43.747356]],

       [[36.40211 , 37.005657, ..., 39.00875 , 37.49832 ],
        [35.52758 , 33.794415, ..., 37.390892, 35.56303 ],
        ...,
        [33.45331 , 35.955772, ..., 33.464836, 34.028236],
        [35.314495, 34.500328, ..., 38.29543 , 40.188465]]], dtype=float32)
Coordinates:
  * time      (time) datetime64[ns] 2006-01-01 2007-01-01 ... 2090-01-01
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
  * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'

In [114]:
tas

<xarray.DataArray 'value' (model: 21, time: 31025)>
array([[29.848328, 30.06076 , 29.960999, ..., 32.606537, 32.58072 , 32.876434],
       [27.095459, 27.21576 , 27.544983, ..., 28.65979 , 29.22937 , 29.926056],
       [23.39972 , 28.66919 , 28.083252, ..., 29.707153, 29.700867, 30.04953 ],
       ...,
       [27.874695, 28.551178, 28.186554, ..., 31.342346, 31.139526, 31.207886],
       [29.284119, 29.195953, 28.045227, ..., 28.058105, 26.04306 , 27.286713],
       [25.445953, 26.126465, 27.666534, ..., 30.492615, 30.723969, 31.201477]],
      dtype=float32)
Coordinates:
  * time      (time) datetime64[ns] 2006-01-01T12:00:00 ... 2090-12-31T12:00:00
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
Attributes:
    units:    degC

#### max_cdd and max_cwd

In [97]:
def max_consec_days(ds, metric, thresh='35 degC', **kwargs):
    
    thresh_val = get_thresh_val_from_str(thresh)
    ds = change_units(ds)
    
    if metric == 'ccd':
        func = xc.indices.maximum_consecutive_dry_days
    elif metric == 'chd':
        func = xc.indices.maximum_consecutive_wet_days
        
    
    results = {}
    
    for seas in seasIndex:
        results[seas] = func(selseas(ds, seas), thresh=f'{thresh_val} mm/day', **kwargs)
        
    res = xr.concat(results.values(), dim=seasIndex)
    
    return(res)

In [99]:
max_consec_days(tas, 'chd', '40 degC')

<xarray.DataArray 'value' (seas: 5, model: 21, time: 85)>
array([[[35, 18, ..., 99, 51],
        [22, 24, ..., 51, 61],
        ...,
        [41, 15, ..., 60, 63],
        [36, 56, ..., 65, 83]],

       [[ 0,  0, ...,  1,  0],
        [ 0,  0, ...,  0,  0],
        ...,
        [ 0,  0, ...,  0,  0],
        [ 0,  0, ...,  0,  0]],

       ...,

       [[ 2, 10, ..., 19,  7],
        [14,  6, ..., 12,  6],
        ...,
        [10,  9, ...,  8,  8],
        [ 5,  0, ..., 16, 15]],

       [[ 0,  0, ...,  0,  0],
        [ 0,  0, ...,  0,  0],
        ...,
        [ 0,  0, ...,  0,  0],
        [ 0,  0, ...,  0,  3]]])
Coordinates:
  * time      (time) datetime64[ns] 2006-01-01 2007-01-01 ... 2090-01-01
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
  * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
Attributes:
    units:    days

#### cdd and cwd

In [100]:
def num_consec_days(ds, metric, thresh='35 degC', ndays=5):
    thresh_val = get_thresh_val_from_str(thresh)
    
    if metric == 'ccd':
        cond = ds < thresh_val
    elif metric == 'chd':
        cond = ds > thresh_val
        
    results = {}
    
    for seas in seasIndex:
        results[seas] = (selseas(cond, seas)
                         .groupby('time.year')
                         .apply(xc.run_length.windowed_run_count, window=ndays)
                        )
        
    
    res = xr.concat(results.values(), dim=seasIndex)
    
    return(res)

In [123]:
num_consec_days(tas, 'chd', thresh='40 degC', ndays=5).sel(seas='Annual')

<xarray.DataArray 'value' (model: 21, year: 85)>
array([[45, 48, 55, ..., 92, 99, 82],
       [51, 60, 61, ..., 81, 68, 67],
       [64, 55, 60, ..., 78, 77, 80],
       ...,
       [65, 56, 68, ..., 73, 92, 87],
       [78, 42, 71, ..., 85, 60, 70],
       [60, 56, 57, ..., 63, 65, 83]])
Coordinates:
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
  * year      (year) int64 2006 2007 2008 2009 2010 ... 2086 2087 2088 2089 2090
    seas      <U6 'Annual'

In [124]:
xc.indices.warm_day_frequency(tas, '40 degC')

<xarray.DataArray 'value' (model: 21, time: 85)>
array([[ 50,  57,  63, ...,  93, 106,  82],
       [ 63,  65,  68, ...,  89,  76,  77],
       [ 75,  58,  63, ...,  78,  85,  88],
       ...,
       [ 67,  56,  75, ...,  81,  93,  94],
       [ 78,  60,  71, ...,  90,  66,  74],
       [ 65,  57,  64, ...,  63,  67,  88]])
Coordinates:
  * time      (time) datetime64[ns] 2006-01-01 2007-01-01 ... 2090-01-01
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
Attributes:
    units:    days

In [126]:
days_above_thresh(tas, '40 degC').sel(seas='Annual')

<xarray.DataArray 'value' (model: 21, year: 85)>
array([[ 50,  57,  63, ...,  93, 106,  82],
       [ 63,  65,  68, ...,  89,  76,  77],
       [ 75,  58,  63, ...,  78,  85,  88],
       ...,
       [ 67,  56,  75, ...,  81,  93,  94],
       [ 78,  60,  71, ...,  90,  66,  74],
       [ 65,  57,  64, ...,  63,  67,  88]])
Coordinates:
    variable  <U6 'tasmax'
  * model     (model) object 'ACCESS1-0' 'BCC-CSM1-1' ... 'NorESM1-M'
  * year      (year) int64 2006 2007 2008 2009 2010 ... 2086 2087 2088 2089 2090
    seas      <U6 'Annual'